.hero {
    position: relative;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8rem 1rem 4rem 1rem;
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 2;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 800px;
}

.logoContainer {
    width: 100%;
    max-width: 300px; 
}


.title {
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 800;
    line-height: 1.2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: DM Sans;
    /* font-style: italic; */
}

.subtitle {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    max-width: 600px;
    opacity: 0.9;
    line-height: 1.7;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    font-family: DM Sans;
    font-style: italic;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.buttonPrimary, .buttonSecondary {
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: transform 0.2s;
    flex-shrink: 0;
    font-family: DM Sans;
    /* font-style: italic; */
}

.buttonPrimary {
    background-color: #ffffff;
    color: #1e40af;
}

.buttonSecondary {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.buttonPrimary:hover, .buttonSecondary:hover {
    transform: translateY(-3px);
}

.scrollIndicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 3;
    color: white;
    opacity: 0.7;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-5px); }
}


@media (min-width: 768px) {
    .content {
        gap: 2rem;
    }
    .logoContainer {
        max-width: 400px;
    }
    .buttonPrimary, .buttonSecondary {
        font-size: 1rem;
    }
}
#text3d {
    color: #70869d;
    letter-spacing: .15em;
    text-shadow: 
      -1px -1px 1px #efede3, 
      0px 1px 0 #2e2e2e, 
      0px 2px 0 #2c2c2c, 
      0px 3px 0 #2a2a2a, 
      0px 4px 0 #282828, 
      0px 5px 0 #262626, 
      0px 6px 0 #242424, 
      0px 7px 0 #222, 
      0px 8px 0 #202020, 
      0px 9px 0 #1e1e1e, 
      0px 10px 0 #1c1c1c, 
      0px 11px 0 #1a1a1a, 
      0px 12px 0 #181818, 
      0px 13px 0 #161616, 
      0px 14px 0 #141414, 
      0px 15px 0 #121212,
      2px 20px 5px rgba(0, 0, 0, 0.9),
      5px 23px 5px rgba(0, 0, 0, 0.3),
      8px 27px 8px rgba(0, 0, 0, 0.5),
      8px 28px 35px rgba(0, 0, 0, 0.9);
 }