.section {
    padding: 80px 0;
    background-color: var(--background);
}

.title {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary);
    font-family: DM Sans;
    text-shadow:
        1px 1px 0px hsl(0, 0%, 80%),
        2px 2px 0px hsl(0, 0%, 75%),
        3px 3px 0px hsl(0, 0%, 70%),
        4px 4px 0px hsl(0, 0%, 65%),
        5px 5px 8px rgba(0, 0, 0, 0.3);
}

.counterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.digitBox {
    background-color: var(--primary);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.digitContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.digitContainer span {
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
}

.comma {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    padding: 0 0.25rem;
}

@media (min-width: 768px) {
    .digitBox {
        width: 60px;
        height: 80px;
    }
    .digitContainer span {
        font-size: 2.5rem;
    }
    .comma {
        font-size: 2.5rem;
    }
}