.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    transition: background-color 0.3s, border-bottom 0.3s, backdrop-filter 0.3s;
}
.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    /* border-bottom: 1px solid var(--border); */
    backdrop-filter: blur(8px);
}
.dark .scrolled {
    background-color: rgba(13, 18, 34, 0.8);
}
:global(html.dark) .scrolled {
    color: var(--foreground);
    background-color: rgba(13, 18, 34, 0.8);
}
.logoTransparent {
    filter: drop-shadow(0 1px 5px rgba(255, 255, 255, 0.4));
    /* padding: top 1rem; */
}
.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.navLinks {
    display: none;
    gap: 2rem;
    align-items: center;
}
.link {
    font-weight: 500;
    transition: color 0.2s;
    color: #ffffff;
    position: relative;
    padding: 0.25rem 0;
}
.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.scrolled .link,
:global(.contactPage) .link,
:global(html.dark) .scrolled .link {
    color: var(--foreground);
}
:global(html.dark) .scrolled .link:hover::after {
    background-color: var(--primary);
}
.controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.menuButton button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    color: #ffffff;
}
.scrolled .menuButton button,
:global(.contactPage) .menuButton button,
:global(html.dark) .scrolled .menuButton button {
    color: var(--foreground);
}
.menuButton { display: block; }
.mobileMenu {
    background-color: var(--background);
    padding: 2rem 0;
    border-bottom: 1px solid var(--border);
}
.mobileMenu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.mobileLink {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--foreground);
}
@media (min-width: 1024px) {
    .navLinks { display: flex; }
    .menuButton { display: none; }
}