.section {
    padding: 80px 0;
    background-color: var(--secondary);
    overflow: hidden;
}

.title {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
    font-family: DM Sans;
}
.title {
    font-size: 2.8rem;
    /* font-weight: 900; */
    font-family: 'DM Sans', sans-serif;
    /* color: var(--foreground); */
    color: var(--primary);

    text-shadow:
        1px 1px 0px hsl(0, 0%, 80%),
        2px 2px 0px hsl(0, 0%, 75%),
        3px 3px 0px hsl(0, 0%, 70%),
        4px 4px 0px hsl(0, 0%, 65%),
        5px 5px 8px rgba(0, 0, 0, 0.3);
}
.scrollerContainer {
    width: 100%;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller {
    display: flex;
    gap: 2rem;
    width: max-content;
    transition: transform 0.1s linear;
}

.card {
    position: relative;
    width: 220px;
    height: 150px;
    background: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: grab;
    perspective: 1000px;
    transition: border-color 0.3s ease;
}
.card:hover {
    border-color: var(--primary);
}
.dark .card {
    background: linear-gradient(135deg, rgba(31, 41, 55, 0.8), rgba(13, 18, 34, 0.8));
}

.cardTitle {
    font-size: 1.00rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--primary);
    font-family: 'DM Sans', sans-serif;
    /* color: var(--foreground); */
    text-shadow:
        1px 1px 0px hsl(0, 0%, 80%),
        2px 2px 0px hsl(0, 0%, 75%),
        3px 3px 5px rgba(0, 0, 0, 0.1);
}

.nextjsIcon {
    color: var(--foreground); 
}
.dark .nextjsIcon {
    color: #FFFFFF;
}